<!--
Annotube Menu (differ if user is connected or not)

By: Thomas Clop
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="menu-user.html">
<link rel="import" href="menu-guest.html">
<link rel="import" href="menu-item.html">

<dom-module id="annotube-menu">
    <template>
        <style>
      hr{
        margin: 0;
      }
    </style>

<div>
    <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
        <menu-item name="home" href="/home" icon="icons:home" text="Accueil"></menu-item>
        <menu-item name="whatshot" href="/whatshot" icon="social:whatshot" text="Tendances"></menu-item>
        <hr/>
        <template is="dom-if" if="[[userId]]">
            <menu-user user-id = [[userId]]></menu-user>
        </template>
        <template is="dom-if" if="[[!userId]]">
            <menu-guest></menu-guest>
        </template>
    </iron-selector>
</div>
</template>

<script>
    Polymer({

        is: 'annotube-menu',

        properties: {
            userId: {
                type: String,
                notify: true,
                reflectToAttribute: true
            }
        },

        ready: function(){
           //console.log( this.userId);
        }
    });
</script>
</dom-module>