<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="menu-user.html">

<dom-module id="annotube-menu">
    <template>
        <style>
      :host {
        --iron-icon-fill-color : #424242;
        --paper-item-icon-width : 35px;
      }

      hr{
        margin: 0;
      }
      
      paper-item {
         padding: 0;
      }

       paper-item a{
           flex: 0 0 100%;
           line-height: 48px;
           color: #424242;
           padding: 0px 10px;
           text-decoration: none;
       }

       a:hover{
           background-color: lightgrey;
       }

    </style>

<div>
    <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
        <paper-item>
            <a name="home" href="/home">
                <iron-icon icon="icons:home" item-icon></iron-icon>
                <span>Accueil</span>
            </a>
        </paper-item>

        <paper-item>
            <a name="whatshot" href="/whatshot">
                <iron-icon icon="social:whatshot" item-icon></iron-icon>
                <span>Tendances</span>
            </a>
        </paper-item>
        <hr/>
        <template is="dom-if" if="[[!isGuest]]">
            <menu-user is-guest="[[isGuest]]"></menu-user>
        </template>
        <template is="dom-if" if="[[isGuest]]">
            <p>You're a guest</p>
        </template>
    </iron-selector>
</div>
</template>

<script>
    Polymer({

        is: 'annotube-menu',

        properties: {
            isGuest: {
                type: Boolean,
                value: true,
                notify: true
            }
        }
    });
</script>
</dom-module>