<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="menu-item.html">
<link rel="import" href="menu-item-badge.html">
<link rel="import" href="menu-item-user.html">

<dom-module id="menu-user">
    <template>
        <style>
       div.signOut{
                min-width: 100%;
                text-align:center;
            }
        a.signOut{
            color: darkred;
            font: 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
        }
    </style>



<menu-item-user user-name="[[userName]]" user-profile-img="[[userImg]]" user-id="[[userId]]"></menu-item-user>
<menu-item name="myvideos" href="/myvideos" icon="av:video-library" text="Mes vidéos annotées"></menu-item>
<menu-item name="myfavoritesvideos" href="/myfavoritesvideos" icon="icons:favorite" text="Mes favoris Anno'Tubes"></menu-item>
<!--menu-item-badge name="notifications" href="/notifications" icon="social:notifications" text="Notifications" nb-notifications="[[nbNotifications]]"></menu-item-badge-->
<menu-item name="Paramètres" href="/options" icon="icons:settings" text="Paramètres"></menu-item>
<div class="signOut">
    <a class="signOut" on-tap="signOut" href="#">Se déconnecter</a>
</div>
</template>

<script>
    Polymer({
        is: 'menu-user',

        properties: {
            userName: {
                type: String,
            },
            nbNotifications: {
                type: Number,
            },
            userImg: {
                type: String,
                value: "/assets/default/default_profile.svg"

            },
            userId:{
                type: String,
                notify: true,
                reflectToAttribute: true,
                observer: '_userIdLoaded'
            }
        },
        ready : function(){
            //console.log("reponse ready", this.userId);
        },
        _userIdLoaded: function(newValue, oldValue){
            var that = this;
            var http = new XMLHttpRequest();
            console.log("newValue", newValue, oldValue, this.userId);
            var url = "https://node.edouardg.fr/user/"+this.userId;

            http.open("GET", url, true);
            http.withCredentials = true;
            http.send();
            http.onreadystatechange = function () {
                if (http.readyState == 4) {
                    if (http.status == 200) {
                        var res = JSON.parse(http.response);
                        that.userName = res.username;
                        //that.userImg = res.profileImg;
                    }
                }
            };
        },
        signOut: function(){
            var http = new XMLHttpRequest();

            var that = this;
            var url = "https://node.edouardg.fr/logout";
            http.open("GET", url, true);
            http.send();

            http.onreadystatechange = function () {
                if (http.readyState == 4) {
                    if (http.status == 200) {
                        console.log(http.responseText);
                        document.location = "/";
                    } else if (http.status == 400) {
                        console.log(JSON.parse(http.responseText).message);
                        that.$$("granite-alert").removeAttribute("hidden");
                    }
                } else if (http.status == 500) {
                   console.log("The server has encountered a situation it doesn't know how to handle.");
                }
            };
        }
    });
</script>
</dom-module>