<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="menu-item.html">
<link rel="import" href="social-button.html">

<dom-module id="menu-guest">
    <template>
        <style>
           
            h3{
                color: darkred;
                width: 100%;
                text-align: center;
                font: bold 18px 'lucida sans', 'trebuchet MS', 'Tahoma';
            }

            div.signUp{
                margin: 0 30px 10px 30px;
            }

            a.signUp{
                text-decoration: none;
                width: 100%;
            }
            p.signUp{
                color: white;
                background-color: darkred;
                height: 20px;
                width: 100%;
                text-align: center;
                font: bold 20px 'lucida sans', 'trebuchet MS', 'Tahoma';
                padding: 10px 0px 15px 0px;
            }

            div.signIn{
                min-width: 100%;
                text-align:center;
            }
            a.signIn{
                color: darkred;
                font: 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
            }
    </style>

<h3>Se connecter via :</h3>
<social-button back-color="#dc4d28" btn-name="Google" select-icon="-1"></social-button>
<social-button back-color="#3b5998 " btn-name="Facebook" select-icon="0"></social-button>
<a class="signUp" onclick="signUp();" href="#">
    <div class="signUp">
        <p class="signUp">Créer un compte</p>
    </div>
</a>
<div class="signIn">
    <a class="signIn" onclick="signIn();" href="#">Se connecter</a>
</div>
<iron-ajax id="ironAjax" method="post" on-response="postComplete"></iron-ajax>
</template>

<script>
var http = new XMLHttpRequest();
    Polymer({
        is: 'menu-guest',

        properties: {
        }
    });

    function signIn(){
        var url = "https://node.edouardg.fr/login";
        var params = JSON.stringify({
            password: "password",
            username: "pseudo"
        });

        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/json; charset=utf-8");
        http.send(params);

        http.onreadystatechange = function () {
            if (http.readyState == 4) {
                if (http.status == 200) {
                    alert(http.responseText);
                } else if (http.status == 400) {
                    alert(JSON.parse(http.responseText).message);
                }
            } else if (http.status == 500) {
                console.log("The server has encountered a situation it doesn't know how to handle.");
            }
        }
    }

    function signUp() {
        var url = "https://node.edouardg.fr/user";
        var params = JSON.stringify({
            email: "pseudo@mail.fr",
            password: "password",
            username: "pseudo"
        });

        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/json; charset=utf-8");
        http.send(params);

        http.onreadystatechange = function () {
            if (http.readyState == 4) {
                if (http.status == 200) {
                    alert(http.responseText);
                } else if (http.status == 400) {
                    alert(JSON.parse(http.responseText).message);
                }
            } else if (http.status == 500) {
                console.log("The server has encountered a situation it doesn't know how to handle.");
            }
        }
    };
</script>
</dom-module>