<!--
Component user baner. Visible in profil page, notification...

By: Mayl
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="user-banner">
  <template>
    <style>
      :host {
        display: block;
        height: 220px;
      }

      .profile img.profile_img {
        border-radius: 50%;
        width:150px;
        height: 150px;
        display: inline-block;
        transition: opacity 1000ms ease-in-out;
        background-color: #ddd;

      }
      .profile p{
        margin-left: 20px;
        color: white;
        font-size: 25px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); 
        position: relative;
        top: 25px;
      }

      .profile{
        position: relative;
        top:-90px;
        left: 16px;
        display: flex;
        align-items: flex-start;
      }
      
      iron-image.background_img{
        width:100%;
        height: 150px;
      }      


    </style>
    
    <iron-image class ="background_img" src="[[backgroundImg]]" fade preload  sizing="cover"></iron-image>

    <div class="profile">
      <img class ="profile_img" src="[[profileImg]]" ></img>
      <p>{{pseudo}}</p>
    </div>

  </template>

  <script>
    Polymer({
      is: 'user-banner',
      properties: {
        pseudo: {
          type: String,
          notify: true,
          reflectToAttribute: true
        },
        profileImg: {
          type: String,
          notify: true,
          reflectToAttribute: true
        },
        backgroundImg: {
          type: String,
          notify: true,
          reflectToAttribute: true
        },
      },
    ready: function(){
      //load("profile_img");
    }
    });
  </script>
</dom-module>
