<!--
Video display component 
By: Corentin Hardy & Mayl
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/google-youtube/google-youtube.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/fullscreen-api/fullscreen-api.html">

<dom-module id="video-display">
    <template>
        <style>
            :host {
                display: block;
                min-width: 300px;
            }

            .youtube {
                z-index: 100;
            }
            #canvas{
                z-index: 101;
                position: absolute;
                /*background-color: rgba(0,0,0, 0.8);*/
                width: 100%;
                height: 100%;
            }
            #videoComponent{
                {{ isFullScreened?"
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                " : ""}}
            }
            #videoComponent:full-screen {
                width: 100%;
                height: auto;
                min-width: 600px;
            }
            .videoControl-in {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.66);
            }
            .videoControl-out {
                position: relative;
                background-color: black;
            }
            #videoControl {
                z-index: 102;
                bottom: 0;
                height: 2.5em;
                width: 100%;
            }
            #videoControl > iron-icon, #videoControl > .videoBar {
                bottom: -0.5em;
                height: 2em;
                width: 2em;
                background: none;
                fill: white;    
                margin: 0;      

                display: -ms-inline-flexbox;
                display: -webkit-inline-flex;
                display: inline-flex;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                position: relative;
                vertical-align: middle;
                stroke: none;
            }
            #videoControl iron-icon:last-child, 
            #videoControl iron-icon:nth-last-child(2){
                float: right;
            }
            #videoControl iron-icon:hover {
                background-color: darkgrey;
            }
            #videoControl .videoBar {
                width: 20%;  
            }
            .canvas, .youtube {
                width: 100%;
                height: 100%
            }
            /*.videoComponent[_isNextVideo] >*/ #videoControl > #next {
                display: none;
            }
            #time {
                color: white;
            }
            #timeBar {
                position: absolute;
                width: 100%;
                height: 0.5em;
                bottom: 2em;
            }
        </style>
        <fullscreen-api id="fullscreenApi" target="#videoComponent"></fullscreen-api>
        <div id="videoComponent">
            <div class="canvas">
                <canvas id="canvas"></canvas>
            </div>
            <div class="youtube">
                <google-youtube
                        id="video"
                        video-id="[[videoId]]"
                        fluid="true"
                        autoplay="1"
                        state="{{state}}"
                        chromeless="true"
                        currenttime="{{currenttime}}"
                        currenttimeformatted="{{currenttimeformatted}}"
                        duration="{{duration}}"
                        durationformatted="{{durationformatted}}"
                       >
                    <!--
                      video-id="SJubeTlS9CQ" id d'une video youtube directe
                      height="270px"
                      width="480px"
                      start:number start at this time in second-->
                </google-youtube>
            </div>
            <div id="videoControl" class="videoControl-in">
                <paper-slider 
                    id="timeBar" 
                    value="{{currenttime}}" 
                    max="{{duration}}" 
                    change="sliderChange" 
                    --paper-slider-height="1px"
                ></paper-slider>

                <iron-icon id="play" on-tap="play" icon="{{_play_icon}}"></iron-icon> 
                <iron-icon id="next" on-tap="next" icon="{{_next_icon}}"></iron-icon>
                
                <iron-icon id="mute" on-tap="mute" icon="{{_mute_icon}}"></iron-icon>
                <paper-slider id="volume" class="videoBar" value="{{volume}}" change="sliderChange"></paper-slider>
                <div id="time" class="videoBar">{{currenttimeformatted}} / {{durationformatted}}</div>

                <iron-icon id="fullScreen" icon="{{_fullScreen_icon}}" on-tap="fullScreen"></iron-icon> 
                <iron-icon id="settings" icon="{{_settings_icon}}" on-tap="settingsEvent"></iron-icon> 
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'video-display',
            /**
             * 
             * @event video-ready
             * @param {Object} e Event parameters.
             * 
             * @event video-state-change
             * @param {Object} e Event parameters
             * 
             * @event settings-event
             * when user click on settings
             */

            properties: {
                annotations:{
                    type: Array,
                    notify: true,
                    reflectToAttribute: true
                },
                videoId: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true,
                    observer: '_videoIdChanged'
                },
                nextVideoId: {
                    // deprecated
                    type: String,
                    value: "",
                    notify: true,
                    reflectToAttribute: true
                },
                _isNextVideo: {
                    type: Boolean,
                    value: true,
                    notify: true,
                    reflectToAttribute: true
                    // readOnly: true
                },
                isFullScreened: {
                    type: Boolean,
                    value: false,
                    notify: true,
                    reflectToAttribute: true                    
                },
                state: {
                    /** states by youtube: 
                     * -1 (unstarted)
                     *  0 (ended)
                     *  1 (playing)
                     *  2 (paused)
                     *  3 (buffering)
                     *  5 (video cued)
                     */
                    type: Number,
                    value: 1,
                    notify: true,
                    reflectToAttribute: true
                },
                volume: {
                    /**
                     * volume by youtube:
                     * number between 0 and 100
                     */
                    type: Number,
                    value: 100,
                    notify: true,
                    reflectToAttribute: true
                },
                _volume: {
                    type: Number,
                    readOnly: true
                },
                isMuted: {
                    type: Boolean,
                    value: false,
                    notify: true,
                    reflectToAttribute: true                    
                },
                currenttime: {
                    type: Number,
                    notify: true,
                    reflectToAttribute: true,
                    observer: "_renderCanvas"
                },
                foreigntime: {
                    type: Number,
                    notify: true,
                    reflectToAttribute: true,
                    observer: "_setCurrenttime"
                },
                currenttimeformatted: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true 
                },
                duration: {
                    type: Number,
                    notify: true,
                    reflectToAttribute: true
                },
                _duration: {
                    type: Number,
                    readOnly: true
                },
                durationformatted: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true     
                },
                isControlOut: {
                    type: Boolean,
                    value: false,
                    // readOnly: true,
                    notify: true,
                    reflectToAttribute: true
                },
                _play_icon: {
                    type: String,
                    readOnly: true,
                    value: "av:play-arrow", 
                },
                _next_icon: {
                    type: String,
                    readOnly: true,
                    value: "av:skip-next",
                },
                _mute_icon: {
                    type: String,
                    readOnly: true,
                    value: "av:volume-up",
                },
                _fullScreen_icon: {
                    type: String,
                    readOnly: true,
                    value: "icons:fullscreen", // icons:fullscreen-exit 
                },
                _settings_icon: {
                    type: String,
                    readOnly: true,
                    value: "icons:settings",
                }
            },
            listeners: {
                'volume.change': 'volumeChanged',
                'timeBar.change': "setTime",
                'video.google-youtube-ready' : 'videoReady',
                'video.google-youtube-state-change' : 'videoStateChange'
            },

            ready: function () {
                this._set_volume(this.volume);
                this._isNextVideo = (this.nextVideoId != "");
                //console.log("isControlOut: ", this.isControlOut);

                if(this.isControlOut){
                    this.$.videoControl.classList.remove("videoControl-in")
                    this.$.videoControl.classList.add("videoControl-out");
                }
               // console.log("videoId init: ", this.videoId);

            },
            _videoIdChanged: function (old, news, target) {

                //console.log("videoId changed: ", old, news, target);
            },
            play: function () {
                //console.log("play / pause: ", this.state);
                if (this.state != 1){
                    this.$.video.play();
                }
                else{
                    this.$.video.pause();
                } 
            },
            _setCurrenttime: function(newv, oldv){
                //this.currenttime = newv;
                if (newv >= 0){
                    $(this.$.timeBar).val(newv);
                    $(this.$.timeBar).change();
                    this.setTime();
                }
                // if (!((oldv-newv)==-1 || (oldv-newv)==1)){
                //     console.log("seek");
                //     this.$.video.seekTo(this.currenttime);
                // }
            },
            setTime: function (event) {
                //this._setCurrenttime(0,this.currenttime);
                //console.log("bar change", event);
                //console.log("clicked on ", this.currenttime, " / ", this.duration);
                this.$.video.seekTo(this.currenttime);
            },
            mute: function () {
                if (this.isMuted){
                    this.volume = this._volume;
                    this.$.video.unMute();
                }else{
                    console.log("Set to ", this.volume);
                    this._set_volume(this.volume);
                    this.volume = 0;
                    this.$.video.mute();
                }
                this.isMuted = ! this.volumeChanged();
            },
            next: function () {
                if(this._isNextVideo){
                    console.log("navigation to this en changeant le params idVideo + demanander quel est la nextVideo ?");
                }
            },
            volumeChanged: function () {
                var wasMuted = this.isMuted;
                if (this.isMuted){
                    this.isMuted = false;
                    this.$.video.unMute();
                }
                if (this.volume < 10)
                    this._set_mute_icon("av:volume-mute");
                else if (this.volume < 70)
                    this._set_mute_icon("av:volume-down");
                else
                    this._set_mute_icon("av:volume-up");
                this.$.video.setVolume(this.volume);
                return wasMuted;
            },
            fullScreen: function () {
                //console.log("activate fullscreen", this.isFullScreened);
                this.isFullScreened = ! this.isFullScreened;
                //console.log("become => ", this.isFullScreened);

                if(this.isControlOut){
                    this.videoControlChange(! this.isFullScreened);
                }


                this.$.fullscreenApi.toggleFullscreen();
            },
            videoReady: function (e) {
                this.fire('video-ready', e);        
            },
            settingsEvent: function () {
                this.fire('settings-event');
            },
            /** states by youtube: 
             * -1 (unstarted)
             *  0 (ended)
             *  1 (playing)
             *  2 (paused)
             *  3 (buffering)
             *  5 (video cued)
             */
            videoStateChange: function (e) {
                switch(this.state){
                    case 0: 
                        this._set_play_icon("av:replay");
                        break;
                    case -1:
                    case 1: 
                        this._set_play_icon("av:pause");
                        break;
                    case 2:
                        this._set_play_icon("av:play-arrow");
                        break;
                    case 3:
                        console.log("buffering...");
                        break;
                    case 5:
                        console.log("video cued");
                        break;
                    default: 
                        console.log("Unknown state ? ", this.state);
                        break;
                }
                this.fire('video-state-change', e);
            },
            videoControlChange: function (isControlOut) {
                if(isControlOut){
                    this.$.videoControl.classList.remove("videoControl-in")
                    this.$.videoControl.classList.add("videoControl-out");
                } else {
                    this.$.videoControl.classList.remove("videoControl-out");
                    this.$.videoControl.classList.add("videoControl-in")
                }

            },
            _renderCanvas: function(oldval, newval){
                var currentAnnotations = [];
                var that=this;
                if (this.annotations){
                    for (var i = 0; i < this.annotations.length; i++){
                        if( (this.annotations[i].time_start <= oldval ) && 
                            (this.annotations[i].time_end >= oldval ) ){
                            currentAnnotations.push(this.annotations[i]);
                        }
                    }

                    var context = this.$.canvas.getContext('2d');
                    var width = this.$.canvas.width;
                    var height = this.$.canvas.height;

                    context.clearRect(0, 0, width, height);
                    for (var j = 0; j < currentAnnotations.length;j++){
                        var shape = currentAnnotations[j].shape;
                        /* NB : assume that all sizes and positions are in % of the actual canvas width for responsive*/
                        switch(shape.type){
                            case "square":
                                that._drawRect( shape);
                                break;
                            case "round":
                                that._drawRound( shape);
                                break;
                            case "text":
                                that._drawText( shape, currentAnnotations[j].text);
                                break;
                            default:
                                break;
                        }

                        // if(shape==2){
                        //     contexte.beginPath();
                        //     contexte.arc(x,y,30,0,Math.PI*2,true);

                        //     contexte.closePath();
                        //     contexte.stroke();
                        // }else if (shape==3){
                        //     contexte.beginPath();
                        //     contexte.rect(x,y,30,30);
                        //     contexte.stroke();
                        //     contexte.closePath();
                        // }else if(shape==1){
                        //     contexte.font="20px Georgia";
                        //     contexte.fillText(document.getElementById("text").value,x,y);
                        // }
                    }
                }
            },
            _drawRect: function(shape){
                var context = this.$.canvas.getContext('2d');
                var width = this.$.canvas.width;
                var height = this.$.canvas.height;
                context.beginPath();
                /*default*/
                context.fillStyle="rgba(0,0,0,0)";
                context.strokeStyle= "#000";
                var size = (20/100)*width;
                var lineWidth = (3/100)*width;
                var x = (shape.position_x/100)*width;
                var y = (shape.position_y/100)*width;

                if (shape.size){
                    size = (shape.size/100)*width;
                }
                if (shape.stroke_thikness){
                    lineWidth = (shape.stroke_thikness/100)*width;
                }
                if (shape.fill){
                    context.fillStyle=shape.fill;
                }
                context.fillRect(x,y,size,size);
                if(shape.stroke){
                    context.strokeStyle=shape.stroke;
                }
                context.lineWidth = lineWidth;
                
                context.strokeRect(x,y,size,size);
                context.closePath();
            },
            _drawRound: function(shape){
                var context = this.$.canvas.getContext('2d');
                var width = this.$.canvas.width;
                var height = this.$.canvas.height;
                context.beginPath();
                context.fillStyle="rgba(0,0,0,0)";
                context.strokeStyle= "#000";
                var size = (20/100)*width;
                var lineWidth = (3/100)*width;
                var x = (shape.position_x/100)*width;
                var y = (shape.position_y/100)*width;
                if (shape.size){
                    size = (shape.size/100)*width;
                }
                if (shape.stroke_thikness){
                    lineWidth = (shape.stroke_thikness/100)*width;
                }
                if (shape.fill){
                    context.fillStyle=shape.fill;
                }
                context.arc(x,y,size,0,Math.PI*2,true);
                context.fill();
                if(shape.stroke){
                    context.strokeStyle=shape.stroke;
                }
                context.arc(x,y,size,0,Math.PI*2,true);
                context.stroke();
                context.closePath();

            },
            _drawText: function(shape, text){
                //console.log(shape);

                var context = this.$.canvas.getContext('2d');
                var width = this.$.canvas.width;
                var height = this.$.canvas.height;
                context.beginPath();
                context.fillStyle="#fff";
                context.strokeStyle= "#000";
                var size = 20;
                if (shape.size){
                    size = (shape.size/100)*width;
                }
                if (shape.stroke_thikness){
                    lineWidth = (shape.stroke_thikness/100)*width;
                }
                if (shape.fill){
                    context.fillStyle=shape.fill;
                }
                if(shape.stroke){
                    context.strokeStyle=shape.stroke;
                }
                var x = (shape.position_x/100)*width;
                var y = (shape.position_y/100)*width;
                //console.log(x,y);
                context.font=size+"px Georgia";

                context.fillText(text,x,y);
                context.closePath();
            }

        });
    </script>
</dom-module>