<!--
Component of one comment

By: Nicolas Forget
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="video-comment">
  <template>
    <style>
      :host {
        display: block;
      }

      .comment {
        width: 100%;
        border: 1px black;
        margin: 0.5em;
      }

      .profilPics {
        margin: 0px;
        display: inline-block;
        height: 50px;
        width: 50px;
      }

      .userName {
        margin: 0px;
        display: inline-block;
      }
      .img_container {
        width: 50px;
        height: 50px;
        background: #ddd;
        border-radius: 50%;
        overflow:hidden;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        --iron-image-placeholder: {
          background: #aaa;
        };
      }
    .avatar {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 60px;
        max-height: 60px;
    }

    </style>


    <div class="comment">
       <template is="dom-if" if="[[comment.author.avatar]]">
          <div class="img_container">
            <img class="avatar" src="[[comment.author.avatar]]" preload fade sizing="cover"/>
          </div>                    
      </template>
      <template is="dom-if" if="[[!comment.author.avatar]]">
          <img class= "avatar" src="{{profileImg}}">
      </template>
      <h3 class="userName">{{comment.author.username}}</h3>
      <p class="commentText">{{comment.text}}</p>
    </div>

  </template>

<script>
  Polymer({
    is: 'video-comment',
    properties: {
      comment: {
        type: Object,
        notify: true,
        reflectToAttribute: true
      },
      profileImg: {
          type: String,
          value: "/assets/default/default_profile.svg",
      },
    },

  });
</script>
</dom-module>