<!--
Component of one comment

By: Nicolas Forget
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="video-comment">
  <template>
    <style>
      :host {
        display: block;
      }

      .comment {
        width: 100%;
        border: 1px black;
        margin: 0.5em;
      }

      .profilPics {
        margin: 0px;
        display: inline-block;
        height: 50px;
        width: 50px;
      }

      .userName {
        margin: 0px;
        display: inline-block;
      }

    </style>


    <div class="comment">
      <img class="profilPics" src="{{comment.author.avatar}}"></img>
      <h3 class="userName">{{comment.author.username}}</h3>
      <p class="commentText">{{comment.text}}</p>
    </div>

  </template>

<script>
  Polymer({
    is: 'video-comment',
    properties: {
      comment: {
        type: Object,
        notify: true,
        reflectToAttribute: true
      }
    },

  });
</script>
</dom-module>